body {
    background: white;
}

p {
    margin: 0px;
    font-size: large;
}



.card {
    background: rgba(89, 110, 110, 0.3);
}

.header {
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    border: none;
}

.list-group-item {
    background-color: rgba(245, 245, 245, 0.7);
    font-weight: bolder;
    font-size: 1.3rem;

}